<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}">Progressio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Crypto
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'caesarcipher' %}">Caesar Cipher</a>
          <a class="dropdown-item" href="{% url 'enigmamachine' %}">Enigma Machine</a>
          <a class="dropdown-item" href="{% url 'affinecipherencrypt' %}">Affine Cipher Encrypt</a>
          <a class="dropdown-item" href="{% url 'affinecipherdecrypt' %}">Affine Cipher Decrypt</a>
        </div>

      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          String Operations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'stringlength' %}">Calculate String Length</a>
          <a class="dropdown-item" href="{% url 'stringreverse' %}">Reverse String</a>
          <a class="dropdown-item" href="{% url 'substringoccurence' %}">Substring Occurence</a>
          <a class="dropdown-item" href="{% url 'base32encode' %}">Base 32 Encode</a>
          <a class="dropdown-item" href="{% url 'base32decode' %}">Base 32 Decode</a>
          <a class="dropdown-item" href="{% url 'base64encode' %}">Base 64 Encode</a>
          <a class="dropdown-item" href="{% url 'base64decode' %}">Base 64 Decode</a>
          <a class="dropdown-item" href="{% url 'stringtohex' %}">String to Hex</a>
          <a class="dropdown-item" href="{% url 'hextostring' %}">Hex to String</a>
          <a class="dropdown-item" href="{% url 'stringtobinary' %}">String to Binary</a>
          <a class="dropdown-item" href="{% url 'binarytostring' %}">Binary to String</a>
          <a class="dropdown-item" href="{% url 'htmlencode' %}">String HTML Encode</a>
          <a class="dropdown-item" href="{% url 'htmldecode' %}">String HTML Decode</a>
          <a class="dropdown-item" href="{% url 'urlencode' %}">URL Encode</a>
          <a class="dropdown-item" href="{% url 'urldecode' %}">URL Decode</a>
          <a class="dropdown-item" href="{% url 'decimaltobinary' %}">Decimal to Binary</a>
          <a class="dropdown-item" href="{% url 'binarytodecimal' %}">Binary to Decimal</a>
          <a class="dropdown-item" href="{% url 'decimaltohex' %}">Decimal to Hex</a>
          <a class="dropdown-item" href="{% url 'hextodecimal' %}">Hex to Decimal</a>

          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>