{% extends 'progressio/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                {# We don't need anything here #}
            </div>
            <div class="col-sm-8">
                <div>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.input_string|as_crispy_field }}

                        {% block parameters %}
                        {% endblock %}

                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <input type="submit" name="operation" value="Uppercase" class="btn btn-success"/>
                            <input type="submit" name="operation" value="Lowercase" class="btn btn-danger"/>
                            <input type="submit" name="operation" value="Reverse" class="btn btn-primary"/>
                        </div>

                        {{ form.output_string|as_crispy_field }}
                    </form>
                </div>
            </div>
            <div class="col-sm-2">
                {# We don't need anything here #}
            </div>
        </div>
    </div>

{% endblock %}